.stats {
  display: flex;
  flex-wrap: wrap;
}

.stats span {
  padding: 3%;
}

/* .pokeId {
  display: block;
  flex-wrap: wrap;
  padding: 4%;
} */

/* .pokeId b {
  position: relative;
  margin-left: 4%;
  top:0;
} */
